node_modules
bower_components
assets/vendor/*
assets/css/main.css.map
assets/css/*main*.css
assets/js/*scripts*.js
assets/js/vendor/modernizr.min.js
assets/manifest.json
!assets/css/main.min.css
!assets/js/scripts.min.js
