.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;

}

.col-sm-6 {
	width: 50%;
	*+width: 46.8%;
	float: left;
}

.collapse {
	display: block;
	margin-bottom: 2em;
	width: 100%;
}

.navbar-nav>li {
	float: left;
}

.navbar-default .navbar-toggle {
	display: none;
}

.navbar-header .navbar-search {
	position: relative;
	width: 33%;
	padding-bottom: 65px;
	*+padding-bottom: 80px; /* To get around IE7's lack of box-sizing */
	padding-top: 40px;
}

.navbar-header .navbar-search form {
	width: 94%;
}

.navbar-header .navbar-search form input[type=submit] {
	right: -4px;
}

.form-inline .form-control {
	width: 94%;
	height: 32px;
	padding: 4px 10px 0 10px;
	font-size: .8em;
	margin-right: 10px;
}

.row {
	width: 100%;
}

footer.content-info {
	*+height: 70px;
	*+padding-top: 110px;
	*+margin-top: 20px;

}

.content-info #menu-footer-menu li.menu-justice-on-gov-uk {
	border-right: 0;
}

.home-action-container {
    width: 45.5%;
    zoom: 1;
    *display: inline;
}

.home-images-col img {
    width: 48.4%;
    margin: 0px 0px 10px 0px;
}

.home-images-col img:first-child {
    margin: 0px 20px 10px 0;
}

